<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inicio de reparto
        </ion-title>
        <ion-buttons slot="end" (click)="habilitarInicioReparto()">
            <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container mt-3">
        <div *ngIf="visibilityButton; else finReparto">
            <ion-item>
                <ion-label>Fecha Inicio Reparto</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" [(ngModel)]="fecha_inicio" readonly></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Hora Inicio reparto</ion-label>
                <ion-datetime displayFormat="h:mm a" [(ngModel)]="hora_inicio" readonly></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripcion</ion-label>
                <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
            </ion-item>
        </div>
        <ng-template #finReparto>
            <ion-item>
                <ion-label>Fecha Inicio Reparto</ion-label>
                <ion-input class="text-right" [value]="inicio_reparto['fecha_inicio']" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Hora Inicio reparto</ion-label>
                <ion-input class="text-right" [value]="inicio_reparto['hora_inicio']" readonly></ion-input>
            </ion-item>
            <ion-item *ngIf="inicio_reparto['descripcion']">
                <ion-label position="floating">Descripcion</ion-label>
                <ion-textarea [value]="inicio_reparto['descripcion']" readonly></ion-textarea>
            </ion-item>
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">Fin de Reparto</ion-title>
            <div *ngIf="inicio_reparto['fecha_fin']">
                <ion-item>
                    <ion-label>Fecha Fin Reparto</ion-label>
                    <ion-input class="text-right" [value]="inicio_reparto['fecha_fin']" readonly></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Hora Fin reparto</ion-label>
                    <ion-input class="text-right" [value]="inicio_reparto['hora_fin']" readonly></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Descripcion</ion-label>
                    <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
                </ion-item>
            </div>
        </ng-template>
        <div class="position-relative pt-3" style="display: grid;">
            <ion-label color="danger">Requisitos para el CUYReparto</ion-label>
            <ion-label class="font-weight-bold">Alcohol</ion-label>
            <ion-label class="font-weight-bold">Cooler</ion-label>
            <ion-label class="font-weight-bold">Cargador</ion-label>
            <ion-label class="font-weight-bold">Celular con datos</ion-label>
        </div>
    </div>
    <ion-footer *ngIf="visibilityButton">
        <ion-button expand="block" color="naranja" class="button-footer" (click)="save()">
            <span>Iniciar reparto</span>
        </ion-button>
    </ion-footer>
</ion-content>