<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            Asignar repartidor
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <ion-item class="mb-3 mt-2">
            <ion-label position="floating">Repartidor</ion-label>
            <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" [(ngModel)]="value_distrito">
                <ion-select-option *ngFor="let item of repartidores" [value]="item['id']">{{item["name"]}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-label class="pl-1 title-distrito">Distritos</ion-label>
        <ion-list>
            <ion-label class="pl-1" *ngIf="distritos.length == 0">No hay distritos seleccionados</ion-label>
            <div class="d-flex justify-content-between align-items-center mb-1" *ngFor="let item of distritos; let i = index">
                <ion-label class="pl-1">{{item["nombre"]}}</ion-label>
                <div class="d-flex align-items-center">
                    <!-- <span class="pr-3">4</span> -->
                    <ion-icon class="remove-distrito" color="danger" name="trash" (click)="removeDistrito(i)"></ion-icon>
                </div>
            </div>
        </ion-list>
    </div>
    <ion-footer>
        <ion-button expand="block" color="naranja" class="button-footer" (click)="save()">
            <span>
                Asignar
            </span>
        </ion-button>
    </ion-footer>
</ion-content>