ion-list {
    background: transparent;
}

ion-label,
span {
    color: #fff;
}

.title-distrito {
    position: relative;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.remove-distrito {
    font-size: 22px;
}