<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            CUYClientes
        </ion-title>
        <ion-buttons slot="end" (click)="goToPages('cliente-register')">
            <ion-icon name="add" color="white"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <ion-searchbar placeholder="Buscar" animated (ionInput)="filterCliente($event)"></ion-searchbar>
    <ion-card color="white" *ngFor="let item of clientes">
        <ion-card-content>
            <ion-card-title>{{item["cliente"]}}</ion-card-title>
            <ion-card-subtitle class="mt-1 mb-2">DNI. {{item["dni"]}}</ion-card-subtitle>
            <ion-badge color="verde" *ngIf="item['estado'] == 'Habilitado'">{{item["estado"]}}</ion-badge>
            <ion-badge color="danger" *ngIf="item['estado'] == 'Inhabilitado'">{{item["estado"]}}</ion-badge>
            <div class="d-flex justify-content-between align-items-center pt-2">
                <div class="botones">
                    <a *ngIf="item['wsp']" [href]="'https://api.whatsapp.com/send?phone=+'+item['wsp']" target="_blank">
                        <ion-icon color="verde" name="logo-whatsapp" class="pr-3"></ion-icon>
                    </a>
                    <a *ngIf="item['celular']" [href]="'tel://'+item['celular']">
                        <ion-icon color="primary" name="call"></ion-icon>
                    </a>
                </div>
                <ion-icon color="naranja" name="create" (click)="goToPages('cliente-detalle?id='+item['id_cliente'])"></ion-icon>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>