<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Recuperar mi cuenta</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>

    <div class="container">
        <div class="mt-3">
            <form #form="ngForm" (ngSubmit)="save()" [formGroup]="fGroup">
                <ion-item>
                    <ion-label position="floating">DNI</ion-label>
                    <ion-input type="text" formControlName="dni"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Correo</ion-label>
                    <ion-input type="password" formControlName="correo"></ion-input>
                </ion-item>
                <div class="btn-center mt-5 mb-4">
                    <ion-button color="naranja" type="submit" [disabled]="!fGroup.valid" expand="block">
                        <span>Recuperar mi cuenta</span>
                    </ion-button>
                    <div class="text-center position-relative mt-2 mb-2">
                        <label style="color: #fff;">o</label>
                    </div>
                    <ion-button color="verde" type="button" expand="block">
                        <span>Contacta con el administrador</span>
                    </ion-button>
                </div>
            </form>
        </div>
    </div>
</ion-content>