<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hola {{name}}
        </ion-title>
        <ion-buttons slot="end" (click)="goToPages('carrito')">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
            <ion-label class="alerta" *ngIf="count_cart > 0">{{count_cart}}</ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="fondo">
        <div class="color-portada"></div>
    </div>

    <div *ngIf="contentLoaded;else loading">
        <div *ngIf="productos.length > 0;else message">
            <div *ngFor="let item of productos">
                <ion-title class="pt-3" style="padding-left: 10px;" color="light">{{item["categoria"]}}</ion-title>
                <ion-slides pager="true" options="options">
                    <ion-slide *ngFor="let value_producto of item['data_productos']">
                        <ion-card color="white" (click)="detalle('producto?id='+value_producto['id'],value_producto['stock'])">
                            <img src="{{value_producto['foto']}}" alt="">
                            <ion-card-header>
                                <ion-card-title color="light-shade">
                                    {{value_producto["nombre"]}}
                                </ion-card-title>
                                <ion-card-subtitle *ngIf="value_producto['stock'] > 0">Quedan {{value_producto["stock"]}} Unidades Disponibles</ion-card-subtitle>
                                <ion-card-subtitle *ngIf="value_producto['stock'] == 0">Sin Stock</ion-card-subtitle>
                                <!-- <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">★</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">★</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">★</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">★</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">★</label>
                                </p> -->
                                <div *ngIf="value_producto['precio_oferta']; else sinOferta">
                                    <ion-card-subtitle color="light-shade"><del>S/ {{value_producto["precio"]}}</del></ion-card-subtitle>
                                    <ion-card-title class="price">S/ {{value_producto["precio_oferta"]}}</ion-card-title>
                                </div>
                                <ng-template #sinOferta>
                                    <ion-card-title class="price">S/ {{value_producto["precio"]}}</ion-card-title>
                                </ng-template>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <ng-template #message>
            <div class="no-disponible">
                <ion-label>
                    Productos no disponibles, visita nuestra web
                    <a href="//cuyeszamora.com" target="_blank">https://cuyeszamora.com</a>
                </ion-label>
            </div>
        </ng-template>
    </div>
    <ng-template #loading>
        <ion-title class="pt-3" style="padding-left: 10px;" color="light">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-title>
        <ion-card color="white">
            <img src="https://cuyeszamora.kawsayachay.com/images/no-disponible.png" alt="">
            <ion-card-header>
                <ion-card-title color="light-shade">
                    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </ion-card-subtitle>
                <div>
                    <ion-card-subtitle color="light-shade"><del><ion-skeleton-text animated style="width: 15%"></ion-skeleton-text></del></ion-card-subtitle>
                    <ion-card-title class="price">
                        <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
                    </ion-card-title>
                </div>
            </ion-card-header>
        </ion-card>
        <ion-title class="pt-3" style="padding-left: 10px;" color="light">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-title>
        <ion-card color="white">
            <img src="https://cuyeszamora.kawsayachay.com/images/no-disponible.png" alt="">
            <ion-card-header>
                <ion-card-title color="light-shade">
                    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </ion-card-subtitle>
                <div>
                    <ion-card-subtitle color="light-shade"><del><ion-skeleton-text animated style="width: 15%"></ion-skeleton-text></del></ion-card-subtitle>
                    <ion-card-title class="price">
                        <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
                    </ion-card-title>
                </div>
            </ion-card-header>
        </ion-card>
    </ng-template>

</ion-content>