.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.cont-image-perfil {
    height: 135px;
    width: 135px;
    position: relative;
    margin: 0 auto;
}

.edit-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.image-edit-p {
    width: 30px;
    height: 30px;
}

.image-perfil {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.text-center ion-label {
    color: #fff;
    font-size: 23px;
}

ion-card-header {
    text-align: left;
}


/*Calificacion*/

ion-card label {
    font-size: 25px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin-bottom: 3px;
    margin-top: 4px;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}


/*Fin Calificacion*/

ion-slides {
    --bullet-background: #000;
    --bullet-background-active: #d79a6c;
}

ion-card-header {
    height: 180px;
}

.no-disponible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    color: #fff;
}

.no-disponible a {
    color: royalblue;
}