<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hola {{name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <ion-card color="white" class="mt-5 mb-4" (click)="goToPage('stock')">
            <ion-card-header class="text-center">
                <ion-card-title>Stock</ion-card-title>
            </ion-card-header>
        </ion-card>
        <ion-card color="white" class="mb-4" (click)="goToPage('pedidos-resumen')">
            <ion-card-header class="text-center">
                <ion-card-title>CUYResumen</ion-card-title>
            </ion-card-header>
        </ion-card>
        <ion-card color="white" class="mb-4" (click)="goToPage('inicio-reparto')">
            <ion-card-header class="text-center">
                <ion-card-title>CUYReparto</ion-card-title>
            </ion-card-header>
        </ion-card>
        <ion-card color="white" class="mb-4" (click)="goToPage('cliente')">
            <ion-card-header class="text-center">
                <ion-card-title>CUYClientes</ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
</ion-content>