<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            CUYPerfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <form #form="ngForm" (ngSubmit)="updateUser()" [formGroup]="fGroup">
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS PERSONALES</ion-title>
            <ion-item>
                <ion-label position="floating">DNI</ion-label>
                <ion-input type="text" formControlName="dni" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombres y Apellidos</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE ENVIO</ion-title>
            <ion-item>
                <ion-label position="floating">Distrito</ion-label>
                <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" formControlName="distrito">
                    <ion-select-option *ngFor="let item of distritos" [value]="item['id']">{{item["nombre"]}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Ubicación por G.P.S.</ion-label>
                <ion-label class="text-right" (click)="loadMap()">Ver mapa</ion-label>
            </ion-item>
            <div *ngIf="visibilityMap" id="map"></div>
            <ion-item>
                <ion-label position="floating">Direccion</ion-label>
                <ion-input type="text" formControlName="direccion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Celular</ion-label>
                <ion-input type="number" formControlName="celular" (ionChange)="copiarCelular()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">WhatsApp</ion-label>
                <ion-input type="number" formControlName="wsp"></ion-input>
            </ion-item>
            <div class="btn-center mt-5 mb-4">
                <ion-button color="naranja" type="submit" [disabled]="!fGroup.valid" expand="block">
                    <span>Actualizar Datos</span>
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>