<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title class="text-center">
            CUYConfirmación
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <form #form="ngForm" (ngSubmit)="save()" [formGroup]="fGroup">
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE CLIENTE</ion-title>
            <ion-item>
                <ion-label position="floating">DNI</ion-label>
                <ion-input type="text" formControlName="dni" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombres y Apellidos</ion-label>
                <ion-input type="text" formControlName="name" readonly></ion-input>
            </ion-item>
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE ENVIO</ion-title>
            <ion-item>
                <ion-label position="floating">Distrito</ion-label>
                <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" formControlName="distrito">
                    <ion-select-option *ngFor="let item of distritos" [value]="item['id']">{{item["nombre"]}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Ubicación por G.P.S.</ion-label>
                <ion-label class="text-right" (click)="loadMap()">Ver mapa</ion-label>
            </ion-item>
            <div *ngIf="visibilityMap == true" id="map"></div>
            <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input type="text" formControlName="direccion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Recibe</ion-label>
                <ion-input type="text" formControlName="recibe"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Celular</ion-label>
                <ion-input type="text" formControlName="celular"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">WhatsApp</ion-label>
                <ion-input type="text" position="wsp" formControlName="wsp"></ion-input>
            </ion-item>
            <ion-button type="submit" [disabled]="!fGroup.valid" expand="block" color="naranja" class="mt-5 mb-3">
                <span>CONFIRMAR PEDIDO</span>
            </ion-button>
        </form>
    </div>
</ion-content>