<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            CUYProducto
        </ion-title>
        <ion-buttons slot="end" (click)="goToPages('carrito')">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
            <ion-label class="alerta" *ngIf="count_cart > 0">{{count_cart}}</ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <ion-card color="white">
        <img src="{{producto['foto']}}" alt="">
        <ion-card-header>
            <ion-card-title class="pt-1">{{producto["nombre"]}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle *ngIf="producto['precio_oferta']" color="light-shade"><del>S/ {{producto['precio']}}</del></ion-card-subtitle>
            <div class="d-flex justify-content-between align-items-center">
                <div *ngIf="producto['precio_oferta']; else sinOferta">
                    <ion-card-title class="price">S/{{producto['precio_oferta']}}</ion-card-title>
                </div>
                <ng-template #sinOferta>
                    <ion-card-title class="price">S/{{producto["precio"]}}</ion-card-title>
                </ng-template>
                <div class="addnumbers">
                    <span class="minus" (click)="removeCantidad()">-</span>
                    <span class="pr-3 pl-3">{{cantidad}}</span>
                    <span class="plus" (click)="addCantidad()">+</span>
                </div>
            </div>
            <ion-card-subtitle color="light-shade">Acumulas {{cantidad}} CUYPunto</ion-card-subtitle>
            <div class="d-flex align-items-center">
                <ion-icon size="small" name="car"></ion-icon>
                <ion-label class="pl-2 pr-3">Envio :</ion-label>
                <ion-label>S/{{costo_delivery.toFixed(2)}}</ion-label>
            </div>
            <div *ngIf="delivery_gratis > 0;else gratis">
                <ion-label>Delivery gratis desde {{delivery_gratis}} unidades</ion-label>
            </div>
            <ng-template #gratis>
                <ion-label>Delivery gratis</ion-label>
            </ng-template>
            <ion-card-title class="pt-1 pb-2">Detalle de Producto</ion-card-title>
            <div class="d-flex">
                <ion-label class="pr-3">Sexo:</ion-label>
                <ion-label>{{producto["sexo"]}}</ion-label>
            </div>
            <div class="d-flex">
                <ion-label class="pr-3">Edad:</ion-label>
                <ion-label>{{producto["edad"]}}</ion-label>
            </div>
            <div class="d-flex">
                <ion-label class="pr-3">Peso:</ion-label>
                <ion-label>{{producto["peso"]}}</ion-label>
            </div>
            <!-- <p class="estrellas max">
                <label class="orange">★</label>
                <label class="orange">★</label>
                <label class="orange">★</label>
                <label class="orange">★</label>
                <label>★</label>
            </p> -->
        </ion-card-content>
    </ion-card>
    <ion-footer>
        <ion-button expand="block" color="naranja" class="button-footer" (click)="addCart()" [disabled]="producto['stock'] == 0">
            <span>
                        <ion-icon slot="icon-only" name="cart" class="pr-1"></ion-icon>
                        Agregar al carrito
                    </span>
        </ion-button>
    </ion-footer>
</ion-content>