<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Stock
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <ion-title color="white" style="padding-left: 9px;" class="pt-2">Productos</ion-title>
    <ion-searchbar placeholder="Buscar" animated (ionInput)="filterStock($event)"></ion-searchbar>

    <ion-card color="white" *ngFor="let item of stock">
        <ion-card-content>
            <ion-card-title class="pt-1">{{item["producto"]["nombre"]}}</ion-card-title>
            <div class="d-flex justify-content-between align-items-center mt-1">
                <ion-card-subtitle color="light-shade">Stock : {{item["cantidad"]}}</ion-card-subtitle>
                <div class="icon-column">
                    <ion-icon slot="icon-only" color="naranja" name="refresh" class="pr-3" (click)="refresh(item['id'])"></ion-icon>
                    <input type="number" id="cantidad{{item['id']}}" style="width: 80px;">
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <div class="text-center pt-4 pb-3" *ngIf="stock.length > 1">
        <ion-button (click)="refreshTotal()" expand="medium" color="naranja" class="mb-3">
            <span>Actualizar Total</span>
            <ion-icon slot="icon-only" slot="end" name="refresh"></ion-icon>
        </ion-button>
    </div>
</ion-content>