.addnumbers .minus,
.addnumbers .plus {
    width: 23px;
    height: 23px;
    font-size: 14px;
}

ion-item {
    color: #636363 !important;
}

.remove-producto {
    font-size: 28px;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.icon-cart {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-cart ion-icon {
    font-size: 6rem;
    color: #fff9;
}

.icon-cart ion-label {
    color: #fff9;
    position: relative;
    display: block;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.copy-number {
    padding-top: 1.6rem;
    font-size: 21px;
}