<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            CUYCarrito
        </ion-title>
        <ion-buttons slot="end">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
            <ion-label class="alerta" *ngIf="count_cart > 0">{{count_cart}}</ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div *ngIf="carrito.length > 0; else cartVacio">
        <ion-card color="white" *ngFor="let item of carrito; let i = index">
            <ion-card-content>
                <div class="card-producto">
                    <div class="img">
                        <img src="{{item['producto']['foto']}}" alt="">
                    </div>
                    <div class="contenido position-relative">
                        <ion-card-title class="pt-1">{{item['producto']['nombre']}}</ion-card-title>
                        <div class="d-flex">
                            <ion-card-subtitle color="light-shade" class="pr-3">S/{{item['monto']}}</ion-card-subtitle>
                            <ion-card-subtitle color="light-shade" class="pr-3">{{item['producto']['sexo']}}</ion-card-subtitle>
                            <ion-card-subtitle color="light-shade">{{item['producto']['edad']}}</ion-card-subtitle>
                            <ion-icon class="remove-producto" color="danger" name="trash" (click)="removeProducto(i)"></ion-icon>
                        </div>
                        <ion-card-subtitle color="light-shade">Sub Total: S/{{item['subtotal']}}</ion-card-subtitle>
                        <div class="addnumbers mt-2">
                            <span class="minus" (click)="removeCantidad(i)">-</span>
                            <span class="mr-3 ml-3">{{item['cantidad']}}</span>
                            <span class="plus" (click)="addCantidad(i)">+</span>
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card color="white">
            <div class="container mt-2" style="padding-left: 0;">
                <ion-list>
                    <ion-item>
                        <ion-label style="padding-left: 18px;">CUYDelivery</ion-label>
                        <div *ngIf="costo_delivery > 0;else delivery">
                            <ion-label class="text-right">S/{{costo_delivery.toFixed(2)}}</ion-label>
                        </div>
                        <ng-template #delivery>
                            <ion-label class="text-right">S/Gratis</ion-label>
                        </ng-template>
                    </ion-item>
                    <ion-item>
                        <ion-label style="padding-left: 18px;">CUYPuntos</ion-label>
                        <ion-label class="text-right">{{cuypuntos}}</ion-label>
                    </ion-item>
                    <ion-item style="margin-left: 18px;">
                        <ion-label position="floating">Medio de Pago</ion-label>
                        <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" [(ngModel)]="medio_pago" (ionChange)="setNumCuenta()">
                            <ion-select-option *ngFor="let item of medios" value="{{item['id']}}">{{item["nombre"]}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item style="margin-left: 18px;">
                        <ion-label position="floating">Numero de Cuenta</ion-label>
                        <ion-input type="text" [(ngModel)]="numero_cuenta" readonly></ion-input>
                        <ion-icon slot="end" name="copy" item-right class="copy-number" (click)="copiarNumero()"></ion-icon>
                    </ion-item>
                    <ion-item style="margin-left: 18px;">
                        <ion-label position="floating">Fecha de entrega</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" min="2019-10-01" [(ngModel)]="fecha_entrega" cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
                    </ion-item>
                </ion-list>
            </div>
            <div class="container">
                <div class="total-price">
                    <ion-title style="color: #636363;">S/{{total.toFixed(2)}}</ion-title>
                </div>
                <ion-button (click)="pedido()" expand="block" color="naranja" class="mb-3">
                    <ion-icon slot="start" name="save"></ion-icon>
                    <span>REGISTRAR PEDIDO</span>
                </ion-button>
                <ion-button (click)="goToPages('home')" expand="block" color="naranja" class="mb-3">
                    <ion-icon slot="start" name="basket"></ion-icon>
                    <span>SEGUIR COMPRANDO</span>
                </ion-button>
            </div>
        </ion-card>
    </div>
    <ng-template #cartVacio>
        <div class="icon-cart">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Su carrito esta vacio</ion-label>
        </div>
        <ion-footer>
            <ion-button expand="block" color="naranja" class="button-footer" (click)="goToPages('home')">
                <ion-icon slot="start" name="basket"></ion-icon>
                <span>Comprar productos</span>
            </ion-button>
        </ion-footer>
    </ng-template>
</ion-content>