ion-badge {
    color: #fff;
    font-size: 12px;
    padding: 5px;
}

.no-disponible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    color: #fff;
}

.no-disponible a {
    color: royalblue;
}