<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hola {{name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div *ngIf="pedidos.length > 0;else message">
        <div *ngFor="let item of pedidos">
            <ion-title color="white" style="padding-left: 9px;" class="pt-2" *ngIf="item['data_pedidos'].length > 0">{{item['distrito']}}</ion-title>
            <ion-card color="white" *ngFor="let value_pedido of item['data_pedidos']" (click)="goToPage('detalle-pedido?id='+value_pedido['data_pedido']['id_pedido'])">
                <ion-card-content>
                    <ion-card-title class="pb-2">{{value_pedido["cliente"]}}</ion-card-title>
                    <ion-card-subtitle>Cantidad: {{value_pedido["data_pedido"]["cantidad"]}}</ion-card-subtitle>
                    <div class="d-flex pb-2">
                        <ion-card-subtitle class="pr-4">Debe: S/{{value_pedido["data_pedido"]["debe"]}}</ion-card-subtitle>
                        <ion-card-subtitle>Medio de pago: {{value_pedido["data_pedido"]["medio"]}}</ion-card-subtitle>
                    </div>
                    <ion-badge [style.background-color]="value_pedido['data_estado']['color']">{{value_pedido['data_estado']['nombre']}}</ion-badge>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <ng-template #message>
        <div class="no-disponible">
            <ion-label>
                No hay pedidos o entregas asignados.
            </ion-label>
        </div>
    </ng-template>
</ion-content>