.botones-repartidor {
    padding: 0 18%;
}

.botones-repartidor .call {
    display: flex;
    justify-content: space-between;
}

.botones-repartidor .call a {
    width: 47%;
}

#map {
    width: 100%;
    height: 300px;
    display: block;
}