<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            Detalle Pedido
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE CLIENTE</ion-title>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Nombres</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["nombre_cliente"]}}</ion-label>
            </div>
        </ion-item>
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE ENVÍO</ion-title>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Direccion</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["direccion"]}}</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <ion-label class="font-weight-bold">Ubicación por G.P.S.</ion-label>
            <ion-label class="text-right" (click)="loadMap()">Ver mapa</ion-label>
        </ion-item>
        <div *ngIf="visibilityMap" id="map"></div>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Recibe</ion-label>
                <ion-label class="text-min">{{detalle["data_pedido"]["recibe"]}}</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Celular</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["celular"]}}</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">WhatsApp</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["whatsapp"]}}</ion-label>
            </div>
        </ion-item>
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">PRODUCTOS</ion-title>

        <ion-card color="white" *ngFor="let item of detalle['data_productos']">
            <ion-card-content>
                <ion-card-title class="pb-2">{{item["nombre"]}}</ion-card-title>
                <div class="d-flex">
                    <ion-card-subtitle class="pr-4">S/ {{item["precio"]}}</ion-card-subtitle>
                    <ion-card-subtitle class="pr-4">{{item["sexo"]}}</ion-card-subtitle>
                    <ion-card-subtitle>{{item["edad"]}}</ion-card-subtitle>
                </div>
                <ion-card-subtitle class="pt-1">Cantidad: {{item["cantidad"]}}</ion-card-subtitle>
            </ion-card-content>
        </ion-card>
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">SALDO</ion-title>
        <ion-item style="width: 96%;">
            <ion-label class="text-max" *ngIf="detalle['data_pedido']['id_estado'] == 1 || detalle['data_pedido']['id_estado'] == 5">Debe</ion-label>
            <ion-label class="text-max" *ngIf="detalle['data_pedido']['id_estado'] == 2 || detalle['data_pedido']['id_estado'] == 3 || detalle['data_pedido']['id_estado'] == 4 || detalle['data_pedido']['id_estado'] == 7">Monto</ion-label>
            <ion-label class="text-right text-min">S/{{detalle["data_pedido"]["debe"]}}</ion-label>
        </ion-item>
        <ion-item style="width: 96%;">
            <ion-label>Medio de Pago</ion-label>
            <ion-label class="text-right">{{detalle["data_pedido"]["medio"]}}</ion-label>
        </ion-item>
    </div>
    <div class="botones-repartidor mb-4 mt-2">
        <div class="call mt-3">
            <a href="tel://{{detalle['data_cliente']['celular']}}">
                <ion-button expand="block" shape="round" color="primary">
                    <ion-icon name="call"></ion-icon>
                </ion-button>
            </a>
            <a href="https://api.whatsapp.com/send?phone={{detalle['data_cliente']['whatsapp']}}" target="_blank">
                <ion-button expand="block" shape="round" color="verde">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-button>
            </a>
        </div>
        <ion-button expand="block" shape="round" class="mt-3" color="naranja" (click)="goToPage('registrar-entrega?id='+id_pedido)" *ngIf="detalle['data_pedido']['id_estado'] == 2 || detalle['data_pedido']['id_estado'] == 7">
            <ion-icon slot="start" name="camera"></ion-icon>
            <span slot="end">Registrar no entrega</span>
        </ion-button>
        <ion-button expand="block" shape="round" class="mt-3 mb-3" color="danger" (click)="goToPage('no-recibido?id='+id_pedido)" *ngIf="detalle['data_pedido']['id_estado'] == 2 || detalle['data_pedido']['id_estado'] == 7">
            <ion-icon slot="start" name="close-circle"></ion-icon>
            <span slot="end">NO RECIBIDO</span>
        </ion-button>
    </div>
</ion-content>