<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            CUYHistorial
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="position-relative mt-2">
        <ion-label color="white" class="pl-3">Tienes acumulado {{cuypuntos}} CUYPuntos</ion-label>
        <div class="container">
            <ion-item>
                <ion-label>Fecha</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" [(ngModel)]="fecha" (ionChange)="historialFecha()" cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Estado</ion-label>
                <ion-select interface="action-sheet" cancelText="Cancelar" [(ngModel)]="estado" (ionChange)="historialEstado()">
                    <ion-select-option [value]="item['id']" *ngFor="let item of estados">{{item["nombre"]}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
    </div>
    <ion-card color="white" *ngFor="let item of historial;let i = index" (click)="goToPage('historial-detalle?id='+item['id'])">
        <ion-card-content>
            <div class="card-producto">
                <div class="contenido">
                    <ion-card-title class="pt-1">#{{i+1}} - S/{{item["total"]}}</ion-card-title>
                    <ion-card-subtitle color="light-shade">Reservado el {{item["created_at"]}}</ion-card-subtitle>
                    <ion-card-subtitle color="light-shade" *ngIf="item['id_estado_pedido'] == 4 || item['id_estado_pedido'] == 5">Entregado el {{item["fecha_entrega"]}}</ion-card-subtitle>
                    <ion-card-subtitle color="light-shade" *ngIf="item['id_estado_pedido'] == 3">Cancelado el {{item["fecha_cancelado"]}}</ion-card-subtitle>
                    <ion-badge [style.background-color]="item['estado']['color']" class="mt-2">{{item["estado"]["nombre"]}}</ion-badge>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>