<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar color="naranja" class="text-center">
                    <img src="../assets/image/logo.png" alt="" height="35">
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item *ngIf="p.type == tipo_user" (click)="openPageRoot(p)" [class.activate]="checkActivatePage(p)">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label class="title-menu">{{p.title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle> -->
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="tipo_user == 0 || tipo_user == 4" (click)="openPageRoot(appPages[0])">
                            <ion-icon slot="start" [name]="appPages[0].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[0].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[1].type == tipo_user" (click)="openPageRoot(appPages[1])">
                            <ion-icon slot="start" [name]="appPages[1].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[1].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[2].type == tipo_user" (click)="openPageRoot(appPages[2])">
                            <ion-icon slot="start" [name]="appPages[2].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[2].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <!-- <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[3].type == tipo_user" (click)="openPageRoot(appPages[3])">
                            <ion-icon slot="start" [name]="appPages[3].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[3].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle> -->
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[4].type == tipo_user" (click)="openPageRoot(appPages[4])">
                            <ion-icon slot="start" [name]="appPages[4].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[4].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[5].type == tipo_user" (click)="openPageRoot(appPages[5])">
                            <ion-icon slot="start" [name]="appPages[5].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[5].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[6].type == tipo_user" (click)="openPageRoot(appPages[6])">
                            <ion-icon slot="start" [name]="appPages[6].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[6].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[7].type == tipo_user" (click)="openPageRoot(appPages[7])">
                            <ion-icon slot="start" [name]="appPages[7].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[7].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[8].type == tipo_user" (click)="openPageRoot(appPages[8])">
                            <ion-icon slot="start" [name]="appPages[8].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[8].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="appPages[9].type == tipo_user" (click)="openPageRoot(appPages[9])">
                            <ion-icon slot="start" [name]="appPages[9].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[9].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item (click)="openPageRoot(appPages[3])">
                            <ion-icon slot="start" [name]="appPages[3].icon"></ion-icon>
                            <ion-label class="title-menu">{{appPages[3].title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="tipo_user != 0" (click)="logout()">
                            <ion-icon slot="start" name="log-out"></ion-icon>
                            <ion-label class="title-menu">
                                Cerrar Sesion
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="tipo_user == 0" (click)="login()">
                            <ion-icon slot="start" name="person"></ion-icon>
                            <ion-label class="title-menu">
                                Ingresar
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>