<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            Registrar pago
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <form #form="ngForm" (ngSubmit)="save()" [formGroup]="fGroup">
        <div class="container">
            <ion-item>
                <ion-label position="floating">Cliente</ion-label>
                <ion-input type="text" value="{{detalle['data_cliente']['nombre_cliente']}}" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Debe</ion-label>
                <ion-input type="text" value="S/{{detalle['data_pedido']['debe']}}" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Medio de Pago</ion-label>
                <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" formControlName="medio_pago">
                    <ion-select-option *ngFor="let item of medioPago" [value]="item['id']">{{item['nombre']}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
        <ion-footer>
            <ion-button expand="block" color="naranja" type="submit" [disabled]="!fGroup.valid" class="button-footer">
                <span>
                Registrar pago
            </span>
            </ion-button>
        </ion-footer>
    </form>
</ion-content>