<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            CUYPedido
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>

    <ion-card color="white" *ngFor="let item of productos">
        <ion-card-content>
            <div class="card-producto">
                <div class="img">
                    <img [src]="item['base_url']" alt="">
                </div>
                <div class="contenido">
                    <ion-card-title class="pt-1">{{item["nombre"]}}</ion-card-title>
                    <div class="d-flex">
                        <ion-card-subtitle color="light-shade" class="pr-3">S/{{item["precio"]}}</ion-card-subtitle>
                        <ion-card-subtitle color="light-shade" class="pr-3">{{item["sexo"]}}</ion-card-subtitle>
                        <ion-card-subtitle color="light-shade">{{item["edad"]}} meses</ion-card-subtitle>
                    </div>
                    <ion-card-subtitle color="light-shade">{{(item["cantidad"] > 1) ? item["cantidad"]+" Unidades" : item["cantidad"]+" Unidad"}} </ion-card-subtitle>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <div class="container">
        <ion-item>
            <ion-label>CUYDelivery</ion-label>
            <ion-label class="text-right">S/{{pedido["cuydelivery"]}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>CUYPuntos</ion-label>
            <ion-label class="text-right">{{pedido["cuypuntos"]}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Medio de Pago</ion-label>
            <ion-label class="text-right">{{pedido["medio_pago"]}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Numero de Cuenta</ion-label>
            <ion-label class="text-right">{{pedido["numero_cuenta"]}}</ion-label>
            <ion-icon color="white" slot="end" name="copy" item-right class="copy-number" (click)="copiarNumero()"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>Fecha de Entrega</ion-label>
            <ion-label class="text-right">{{pedido["fecha_entrega"]}}</ion-label>
        </ion-item>
        <ion-card color="white" class="mt-3" *ngIf="pedido['data_repartidor']">
            <ion-card-header>
                <ion-card-title>Repartidor Asignado</ion-card-title>
                <ion-card-subtitle>{{pedido['data_repartidor']['nombre']}}</ion-card-subtitle>
                <ion-card-subtitle>{{pedido['data_repartidor']['celular']}}</ion-card-subtitle>
                <ion-card-subtitle>D.N.I {{pedido['data_repartidor']['dni']}}</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
        <div class="total-price">
            <ion-title color="light">S/{{pedido["total"]}}</ion-title>
        </div>
        <ion-button expand="block" color="danger" class="mb-3" (click)="cancelarPedido()" *ngIf="pedido['estado'] == 1">
            <span>CANCELAR PEDIDO</span>
        </ion-button>
    </div>
</ion-content>