<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Registrarme</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>

    <div class="container">
        <div class="mt-3">
            <form #form="ngForm" (ngSubmit)="registerUser()" [formGroup]="fGroup">
                <ion-item>
                    <ion-label position="floating">DNI</ion-label>
                    <ion-input type="text" formControlName="dni"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombres y Apellidos</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input formControlName="password" [type]="password_type" (ionChange)="addEyes()"></ion-input>
                    <ion-icon class="icon-eyes" slot="end" [name]="iconpassword" item-right (click)="togglePasswordMode()" *ngIf="pass!=''">
                    </ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Confirmar contraseña</ion-label>
                    <ion-input formControlName="confirmPassword" [type]="password_type" (ionChange)="addEyes()"></ion-input>
                </ion-item>
                <div class="btn-center mt-5 mb-4">
                    <ion-button color="naranja" type="submit" [disabled]="!fGroup.valid" expand="block">
                        <span>Crear mi cuenta</span>
                    </ion-button>
                </div>
            </form>
        </div>
    </div>
</ion-content>