.list-info {
    display: grid;
}

.list-info .text-max {
    font-size: 16px;
    font-weight: 600;
}

.list-info .text-min {
    font-size: 13px;
}

#map {
    width: 100%;
    height: 300px;
    display: block;
}