<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            CUYPedido
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE CLIENTE</ion-title>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Nombres</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["nombre_cliente"]}}</ion-label>
            </div>
        </ion-item>
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE ENVÍO</ion-title>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Direccion</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["direccion"]}}</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <ion-label class="font-weight-bold">Ubicación por G.P.S.</ion-label>
            <ion-label class="text-right" (click)="loadMap()">Ver mapa</ion-label>
        </ion-item>
        <div *ngIf="visibilityMap" id="map"></div>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Recibe</ion-label>
                <ion-label class="text-min">{{detalle["data_pedido"]["recibe"]}}</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">Celular</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["celular"]}}</ion-label>
            </div>
        </ion-item>
        <ion-item>
            <div class="list-info mb-2">
                <ion-label class="text-max">WhatsApp</ion-label>
                <ion-label class="text-min">{{detalle["data_cliente"]["whatsapp"]}}</ion-label>
            </div>
        </ion-item>
        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">PRODUCTOS</ion-title>

        <ion-card color="white" *ngFor="let item of detalle['data_productos']">
            <ion-card-content>
                <ion-card-title class="pb-2">{{item["nombre"]}}</ion-card-title>
                <div class="d-flex">
                    <ion-card-subtitle class="pr-4">S/ {{item["precio"]}}</ion-card-subtitle>
                    <ion-card-subtitle class="pr-4">{{item["sexo"]}}</ion-card-subtitle>
                    <ion-card-subtitle>{{item["edad"]}}</ion-card-subtitle>
                </div>
                <ion-card-subtitle class="pt-1">Cantidad: {{item["cantidad"]}}</ion-card-subtitle>
            </ion-card-content>
        </ion-card>

        <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">SALDO</ion-title>
        <ion-item style="width: 96%;">
            <ion-label class="text-max">Debe</ion-label>
            <ion-label class="text-right text-min" *ngIf="detalle['data_pedido']['id_estado'] == 2 || detalle['data_pedido']['id_estado'] == 3 || detalle['data_pedido']['id_estado'] == 4 || detalle['data_pedido']['id_estado'] == 8">S/{{detalle["data_pedido"]["debe"]}}</ion-label>
            <ion-label class="text-right text-min" *ngIf="detalle['data_pedido']['id_estado'] == 1 || detalle['data_pedido']['id_estado'] == 5 || detalle['data_pedido']['id_estado'] == 7">S/{{detalle["data_pedido"]["debe"]}}</ion-label>
        </ion-item>
        <ion-item style="width: 96%;">
            <ion-label>Medio de Pago</ion-label>
            <ion-label class="text-right">{{detalle["data_pedido"]["medio"]}}</ion-label>
        </ion-item>
        <ion-item style="width: 96%;">
            <ion-label>Numero de Cuenta</ion-label>
            <ion-label class="text-right">{{detalle["data_pedido"]["numero_cuenta"]}}</ion-label>
            <ion-icon color="white" slot="end" name="copy" item-right class="copy-number" (click)="copiarNumero()"></ion-icon>
        </ion-item>

        <ion-card color="white" class="mt-3" *ngIf="detalle['data_repartidor']">
            <ion-card-header>
                <ion-card-title>Repartidor Asignado</ion-card-title>
                <ion-card-subtitle>{{detalle['data_repartidor']['repartidor']}}</ion-card-subtitle>
                <ion-card-subtitle>Telefono: {{detalle['data_repartidor']['numero_repartidor']}}</ion-card-subtitle>
                <ion-card-subtitle>DNI: {{detalle['data_repartidor']['dni_repartidor']}}</ion-card-subtitle>
            </ion-card-header>
        </ion-card>

        <div class="btn-center mt-4 mb-4">
            <ion-button color="naranja" type="button" expand="block" (click)="goToPage('register-entrega?id='+id_pedido)" *ngIf="detalle['data_pedido']['id_estado'] == 2 || detalle['data_pedido']['id_estado'] == 7">
                <ion-icon name="camera"></ion-icon>
                <span class="pl-1">Registrar entrega</span>
            </ion-button>
            <ion-button color="naranja" type="button" expand="block" class="mt-3" (click)="goToPage('register-pago?id='+id_pedido)" *ngIf="detalle['data_pedido']['id_estado'] == 1 || detalle['data_pedido']['id_estado'] == 5 || detalle['data_pedido']['id_estado'] == 7">
                <ion-icon name="cash"></ion-icon>
                <span class="pl-1">Registrar pago</span>
            </ion-button>
        </div>
    </div>
</ion-content>