<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            Registrar entrega
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <form #form="ngForm" (ngSubmit)="save()" [formGroup]="fGroup">
        <div class="container">
            <ion-item>
                <ion-label position="floating">Cliente</ion-label>
                <ion-input type="text" value="{{detalle['data_cliente']['nombre_cliente']}}" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Debe</ion-label>
                <ion-input type="text" value="S/{{detalle['data_pedido']['debe']}}" readonly></ion-input>
            </ion-item>
            <ion-list-header>
                Adjuntar Imagen
                <ion-buttons>
                    <ion-button (click)="imageCapturedGallery()">
                        <ion-icon name="images"></ion-icon>
                    </ion-button>
                    <ion-button (click)="imageCaptured()">
                        <ion-icon name="camera"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-list-header>
            <ion-input type="hidden"></ion-input>
            <ion-item *ngIf="base64img!=''">
                <img [src]=base64img>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Medio de Pago</ion-label>
                <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" formControlName="medio_pago" [disabled]="detalle['data_pedido']['id_estado'] == 2">
                    <ion-select-option *ngFor="let item of medioPago" [value]="item['id']">{{item['nombre']}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Paga al momento de la entrega</ion-label>
                <ion-checkbox slot="end" formControlName="pago_entrega" [disabled]="detalle['data_pedido']['id_estado'] == 2"></ion-checkbox>
            </ion-item>
        </div>
        <ion-footer>
            <ion-button expand="block" type="submit" [disabled]="!fGroup.valid" color="naranja" class="button-footer">
                <span>Registrar entrega</span>
            </ion-button>
        </ion-footer>
    </form>
</ion-content>