<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            Actualizar Cliente
        </ion-title>
        <ion-buttons slot="end" (click)="deshabilitar()" *ngIf="deleted_at == null">
            <ion-icon slot="icon-only" name="trash" color="white"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <form #form="ngForm" (ngSubmit)="save()" [formGroup]="fGroup">
        <div class="container">
            <ion-item>
                <ion-label position="floating">Grupo</ion-label>
                <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" formControlName="id_grupo_cliente">
                    <ion-select-option *ngFor="let item of grupo_cliente" [value]="item['id']">{{item["nombre"]}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE CLIENTE</ion-title>
            <ion-item>
                <ion-label position="floating">DNI</ion-label>
                <ion-input type="text" formControlName="dni"></ion-input>
                <ion-icon name="search" slot="end" color="white" align-self-center class="pt-3" (click)="validarDni()"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Datos Reniec</ion-label>
                <ion-input type="text" [value]="datos_reniec" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombres y Apellidos</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-title color="light" class="mt-2" style="padding-left: 0.9rem;">DATOS DE ENVIO</ion-title>
            <ion-item>
                <ion-label position="floating">Distrito</ion-label>
                <ion-select interface="action-sheet" placeholder="Seleccione" cancelText="Cancelar" formControlName="id_distrito">
                    <ion-select-option *ngFor="let item of distritos" [value]="item['id']">{{item["nombre"]}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Ubicación por G.P.S.</ion-label>
                <ion-label class="text-right" (click)="loadMap()">Ver mapa</ion-label>
            </ion-item>
            <div *ngIf="visibilityMap" id="map"></div>
            <ion-item>
                <ion-label position="floating">Direccion</ion-label>
                <ion-input type="text" formControlName="direccion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Celular</ion-label>
                <ion-input type="number" formControlName="celular"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">WhatsApp</ion-label>
                <ion-input type="number" formControlName="wsp"></ion-input>
            </ion-item>
        </div>
        <ion-footer>
            <ion-button expand="block" color="naranja" class="button-footer" type="submit" [disabled]="!fGroup.valid" *ngIf="deleted_at == null">
                <span>Guardar</span>
            </ion-button>
            <ion-button expand="block" color="naranja" class="button-footer" type="button" (click)="habilitar()" *ngIf="deleted_at">
                <span>Habilitar</span>
            </ion-button>
        </ion-footer>
    </form>
</ion-content>