.logo {
    text-align: center;
    padding: 20% 0;
    position: relative;
}

.logo img {
    width: 75%;
}

ion-button {
    margin: 0;
}

ion-icon {
    color: #fff;
}

ion-label {
    padding-top: 0.6rem;
}

.icon-eyes {
    padding-top: 2.5rem;
    font-size: 21px;
}

ion-button {
    height: 42px;
}