<ion-header>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>
    <div class="container">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/image/logo.png" alt="">
            </div>
            <form #form="ngForm" (ngSubmit)="validarLogin()" [formGroup]="fGroup">
                <ion-item>
                    <ion-label position="floating" class="ml-4">DNI</ion-label>
                    <ion-input type="text" formControlName="dni">
                        <ion-icon name="person" class="mr-2"></ion-icon>
                    </ion-input>
                </ion-item>
                <ion-item class="mb-3">
                    <ion-label position="floating" class="ml-4">Contraseña</ion-label>
                    <ion-input formControlName="password" [type]="password_type" (ionChange)="addEyes()">
                        <ion-icon name="lock" slot="start" class="mr-2"></ion-icon>
                    </ion-input>
                    <ion-icon class="icon-eyes" slot="end" [name]="iconpassword" item-right (click)="togglePasswordMode()" *ngIf="pass!=''">
                    </ion-icon>
                </ion-item>
                <div class="mb-4 text-right position-relative">
                    <ion-label color="white" (click)="reset()">¿Olvidaste tu contraseña?</ion-label>
                </div>
                <ion-button color="naranja" type="submit" [disabled]="!fGroup.valid" expand="block"><span>Iniciar sesión</span></ion-button>
            </form>
            <ion-button color="verde" type="button" expand="block" class="mt-3" (click)="registerUser()"><span>Registrarme</span></ion-button>
            <ion-button color="primary" type="button" expand="block" class="mt-3 mb-3" (click)="facebook()"><span>Entrar con Facebook</span></ion-button>
        </div>
    </div>
</ion-content>