.list-info {
    display: grid;
}

.list-info .text-min,
.list-info .text-max {
    color: #000 !important;
}

.list-info .text-max {
    font-size: 16px;
    font-weight: 600;
}

.list-info .text-min {
    font-size: 13px;
}

.social {
    display: flex;
    padding-top: 7px;
}

.social ion-icon {
    font-size: 30px;
    padding-right: 10px;
}

.social ion-icon.facebook {
    color: #3a559f;
}

.social ion-icon.youtube {
    color: #f00;
}

.social ion-icon.instagram {
    color: #d12991;
}

.social ion-icon.linkedin {
    color: #0073b1;
}