<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Datos Comerciales
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>

    <ion-card color="white" class="mt-4">
        <ion-card-content>
            <div class="list-info mb-2">
                <ion-label class="text-max">Nombre comercial</ion-label>
                <ion-label class="text-min">{{info["nombre_comercial"]}}</ion-label>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">R.U.C.</ion-label>
                <ion-label class="text-min">{{info["ruc"]}}</ion-label>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Celular</ion-label>
                <a href="tel://{{info['celular']}}" target="_blank">
                    <ion-label class="text-min">{{info["celular"]}}</ion-label>
                </a>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">WhatApp</ion-label>
                <a href="https://api.whatsapp.com/send?phone=+{{info['wsp']}}" target="_blank">
                    <ion-label class="text-min">{{info["wsp"]}}</ion-label>
                </a>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Correo</ion-label>
                <a href="mailto:{{info['correo']}}" target="_blank">
                    <ion-label class="text-min">{{info["correo"]}}</ion-label>
                </a>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Representante</ion-label>
                <ion-label class="text-min">{{info["representante"]}}</ion-label>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Reparto</ion-label>
                <ion-label class="text-min">{{info["dia_reparto"]}} de {{info["horario"]}}</ion-label>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Zona de reparto</ion-label>
                <ion-label class="text-min">{{info["zona"]}}</ion-label>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Página web</ion-label>
                <a [href]="info['p_web']" target="_blank">
                    <ion-label class="text-min">{{info["p_web"]}}</ion-label>
                </a>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Brochure</ion-label>
                <a [href]="info['brochure']" target="_blank">
                    <ion-label class="text-min">{{info["brochure"]}}</ion-label>
                </a>
            </div>
            <div class="list-info mb-2">
                <ion-label class="text-max">Redes sociales</ion-label>
                <div class="social">
                    <a [href]="info['facebook']" target="_blank">
                        <ion-icon class="facebook" name="logo-facebook"></ion-icon>
                    </a>
                    <a [href]="info['youtube']" target="_blank">
                        <ion-icon class="youtube" name="logo-youtube"></ion-icon>
                    </a>
                    <a [href]="info['instagram']" target="_blank">
                        <ion-icon class="instagram" name="logo-instagram"></ion-icon>
                    </a>
                    <a [href]="info['linkedin']" target="_blank">
                        <ion-icon class="linkedin" name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>