<ion-header>
    <ion-toolbar color="naranja">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            CUYResumen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondo">
        <div class="color-portada"></div>
    </div>

    <ion-toolbar style="--background: transparent;">
        <ion-segment [(ngModel)]="segment" color="white">
            <ion-segment-button value="1">
                <ion-icon name="list"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2">
                <ion-icon name="document"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="3">
                <ion-icon name="business"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="4">
                <ion-icon name="car"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [(ngSwitch)]="segment">
        <ion-list *ngSwitchCase="1">
            <ion-item style="padding: 0 10px;">
                <ion-label>Pedidos de la semana</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" [(ngModel)]="fechaResumen" (ionChange)="resumenPedidoClienteFilter()" cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
            </ion-item>
            <ion-card color="white" *ngFor="let item of resumen;let i = index" (click)="goToPage('pedidos-detalle?id='+item['id_pedido'])">
                <ion-card-content>
                    <div class="card-producto">
                        <div class="contenido">
                            <ion-card-title class="pt-1">#{{i+1}} - {{item["cliente"]}}</ion-card-title>
                            <ion-card-subtitle color="light-shade">{{item["fecha"]}}</ion-card-subtitle>
                            <ion-card-subtitle color="light-shade">S/ {{item["precio_total"]}} <span class="pl-3">Cantidad: {{item["cantidad"]}} </span></ion-card-subtitle>
                            <ion-badge [style.background-color]="item['data_estado']['color']" class="mt-2">{{item['data_estado']['estado']}}</ion-badge>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <div class="text-center pt-4 pb-3">
                <ion-button (click)="compartirWsp()" expand="medium" color="naranja" class="mb-3">
                    <span>Compartir por WhatsApp</span>
                    <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
                </ion-button>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="2">
            <ion-item style="padding: 0 10px;">
                <ion-label>Pedidos de la semana</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" [(ngModel)]="fechaResumenCategoria" (ionChange)="resumenPedidoCategoriaFilter()" cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
            </ion-item>
            <div *ngFor="let item of resumenCategoria">
                <div class="d-flex justify-content-between">
                    <ion-title color="white">{{item["categoria"]}}</ion-title>
                    <ion-title color="white" class="text-right">{{item["data_productos"].length}}</ion-title>
                </div>
                <ion-card color="white" *ngFor="let value_producto of item['data_productos']">
                    <ion-card-content>
                        <ion-card-title class="pb-2">{{value_producto["nombre"]}}</ion-card-title>
                        <div class="d-flex">
                            <ion-card-subtitle class="pr-4">{{value_producto["sexo"]}}</ion-card-subtitle>
                            <ion-card-subtitle>{{value_producto["edad"]}}</ion-card-subtitle>
                        </div>
                        <ion-card-subtitle class="pt-1">Cantidad: {{value_producto["cantidad"]}}</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </div>

            <div class="text-center pt-4 pb-3">
                <ion-button (click)="compartirWsp()" expand="medium" color="naranja" class="mb-3">
                    <span>Compartir por WhatsApp</span>
                    <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
                </ion-button>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="3">
            <ion-item style="padding: 0 10px;">
                <ion-label>Pedidos de la semana</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" [(ngModel)]="fechaResumenDistrito" (ionChange)="resumenPedidoDistritoFilter()" cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
            </ion-item>
            <ion-button (click)="goToPage('asignar-repartidor')" expand="block" color="naranja" class="mb-3 mt-3 pl-2 pr-2">
                <span>Asignar Repartidor</span>
            </ion-button>
            <div *ngFor="let item of resumenDistrito;let i = index">
                <div *ngIf="item['data_pedidos'].length > 0">
                    <div class="d-flex justify-content-between align-items-center">
                        <ion-title color="white">{{item["distrito"]}}</ion-title>
                        <ion-title color="white" class="text-right">{{item["data_pedidos"].length}}</ion-title>
                        <ion-icon class="mr-2 add-circle" color="white" name="add-circle" (click)="setDistrito(item['id_distrito'],item['distrito'])"></ion-icon>
                    </div>
                    <ion-card color="white" *ngFor="let value_pedido of item['data_pedidos']" (click)="goToPage('pedidos-detalle?id='+value_pedido['data_pedido']['id_pedido'])">
                        <ion-card-content>
                            <ion-card-title class="pb-2">{{value_pedido["cliente"]}}</ion-card-title>
                            <ion-card-subtitle color="light-shade">{{value_pedido["fecha"]}}</ion-card-subtitle>
                            <div class="d-flex">
                                <ion-card-subtitle class="pr-4">S/{{value_pedido["data_pedido"]["precio"]}}</ion-card-subtitle>
                                <ion-card-subtitle>Cantidad: {{value_pedido["data_pedido"]["cantidad"]}}</ion-card-subtitle>
                            </div>
                            <ion-badge [style.background-color]="value_pedido['data_estado']['color']" class="mt-2">{{value_pedido["data_estado"]["nombre"]}}</ion-badge>
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
            <div class="text-center pt-4 pb-3">
                <ion-button (click)="compartirWsp()" expand="medium" color="naranja" class="mb-3">
                    <span>Compartir por WhatsApp</span>
                    <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
                </ion-button>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="4">
            <ion-item style="padding: 0 10px;">
                <ion-label>Pedidos de la semana</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" [(ngModel)]="fechaResumenRepartidor" (ionChange)="resumenPedidoRepartidorFilter()" cancelText="Cancelar" doneText="Confirmar"></ion-datetime>
            </ion-item>

            <ion-card color="white" *ngFor="let item of resumenRepartidor">
                <ion-card-content>
                    <ion-card-title class="pb-1">{{item["repartidor"]}}</ion-card-title>
                    <ion-card-subtitle>{{item["fecha"]}}</ion-card-subtitle>
                    <div class="d-flex">
                        <ion-card-subtitle>Entregas: {{item["entregas"]}}</ion-card-subtitle>
                        <ion-card-subtitle class="pl-3">Cuyes: {{item["cuyes"]}}</ion-card-subtitle>
                    </div>
                    <ion-card-subtitle>{{item["data_distrito"]}}</ion-card-subtitle>
                </ion-card-content>
            </ion-card>

            <div class="text-center pt-4 pb-3">
                <ion-button (click)="compartirWsp()" expand="medium" color="naranja" class="mb-3">
                    <span>Compartir por WhatsApp</span>
                    <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
                </ion-button>
            </div>
        </ion-list>
    </div>

</ion-content>